*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 80px;
    font-family: 'Candal', sans-serif;
    letter-spacing: 0.05em;
}

p{
    font-size: 20px;
}

form{
    margin: 10px 0px;
}

select, input{
    width: 80%;
    font-size: 20px;
}

#select, #viz, #phase2, #loading, #phase3, #error{
    display: none;
}

#loading_icon{
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

#viz_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

#viz_contents > svg{
    width: 100%;
    height: 100%;
    z-index: 50;
}

#viz_contents{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(59,134,134);
    z-index: 50;
}

#select_format{
    position: absolute;
    right: 350px;
    top: 0px;
    width: 300px;
    height: 100%;
    background-color: #fff;
}
