*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

h1{
    /*font-family: 'Candal', sans-serif;*/
    letter-spacing: 0.05em;
    margin-bottom: 1.5em;
}

form{
    margin: 10px 0px;
}

select, input{
    width: 80%;
    font-size: 20px;
}

#select, #viz, #phase2, #loading, #phase3, #error{
    display: none;
}

#loading_icon{
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

#viz_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

#viz_contents > svg{
    width: 100%;
    height: 100%;
    z-index: 50;
}

#viz_contents{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(59,134,134);
    z-index: 50;
}

#select_format{
    position: absolute;
    right: 350px;
    top: 0px;
    width: 300px;
    height: 100%;
    background-color: #fff;
}

#dialog_wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 150;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dialog{
    max-width: 500px;
    min-width: 300px;
    margin: auto auto;
    padding: 5em;
    padding-left: 6em;
    padding-right: 6em;
    background-color: #fff;
    text-align: center;
}

#search_wrapper{
    margin-bottom: 2em;
}

#search_wrapper > input{
    height: 36px;
    display: inline-block;
    vertical-align: top;
}

#search_button_div{
    height: 36px;
    display: inline-block;
    vertical-align: top;
}

#search_button_div > img{
    background-color: #2ca25f;
    padding: 2px;
}